
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}


  						<div class="post-list-aside">
                            <div class="post-single">
                                <div class="col-md-5">
                                    <div class="post-img">
                                         {{ fields.field_picture.content }}
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="post-desk">
                                        
                                           
                                            <h4 class="text-uppercase">
                                                {{ fields.title.content }}
                                            </h4>
                                        

                                        <p class="sp"> 
                                            {{ fields.body.content }}
                                        </p>
                                        <ul class="m-bot-30 circle-list">
                                            <li>
                                                {{ fields.field_msg.content }}
                                            </li>
                                            
                                        </ul>
                                        <div>
                                            <a href="#" class="btn btn-small btn-rounded btn-dark-solid  "> Read More </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>