
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}
 			

                    <div class="row page-content">
                        <div class="col-md-4">
                            <div class="featured-item text-center">
                                <div class="icon">
                                    <i class="icon-map"></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>location</h4>
                                </div>
                                <div class="desc">
                                   
                                   {{ fields.field_address.content }} 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="featured-item text-center">
                                <div class="icon">
                                    <i class="icon-mobile"></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>call us</h4>
                                </div>
                                <div class="desc">
                                    Any time. We are open 24/7
                                    <br/>{{ fields.field_mobile_number.content }} 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="featured-item text-center">
                                <div class="icon">
                                    <i class="icon-envelope"></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>mail us</h4>
                                </div>
                                <div class="desc">
                                    get support via email
                                    <br/>
                                    	{{ fields.field_email.content }}
                                   
                                </div>
                            </div>
                        </div>
                    </div>