
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}


	    	<div class="col-md-6">
                <div class="featured-item feature-outline m-bot-100">
                    <div class="icon theme-color">
                         {{ fields.field_picture.content }}
                    </div>
                    <div class="title text-uppercase">
                        <h4>{{ fields.title.content }}</h4>
                    </div>
                    <div class="desc">
                        {{ fields.body.content }}
                    </div>
                </div>
            </div>
          
         
                      
                     
                   