
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}


   <div class="col-md-4">
        <div class="team-member">
            <div class="team-img">
                {{ fields.field_picture.content }}
            </div>
            <div class="team-hover">
                <div class="desk">
                    <h4>{{ fields.field_status.content }}</h4>
                    <p>{{ fields.body.content }}.</p>
                </div>
                <div class="s-link">
                    <a href="{{ fields.field_facebook.content }}"><i class="fa fa-facebook"></i></a>
                    <a href="{{ fields.field_twitter.content }}"><i class="fa fa-twitter"></i></a>
                    <a href="{{ fields.field_googleplus.content }}"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="team-title">
            <h5>{{ fields.title.content }}</h5>
            <span>{{ fields.field_job_description.content }}</span>
        </div>
    </div>