{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */



#}

	
                       <div class="blog-classic">
                                <div class="date">
                                
                                    <span>
                                         {{ fields.field_date.content }}
                                     </span>
                    
                                </div>
                                <div class="blog-post">
                                    <div class="full-width">
                                       {{ fields.field_picture.content }}
                                    </div>
                                    <h4 class="text-uppercase"><a href="#">{{ fields.title.content }}</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-user"></i>posted by
                                             <a href="#">{{ fields.uid.content }}</a>
                                        </li>
                                        <li><i class="fa fa-folder-open"></i> 
                                         <a href="#">{{ fields.field_catagory1.content }}</a>
                                        </li>
                                        <li><i class="fa fa-comments"></i>  <a href="#">
                                            {{ fields.comment_count.content }} comments</a>
                                        </li>
                                    </ul>
                                    <p>{{ fields.body.content }}</p>
                                    <a href="{{ fields.path.content|raw }}" class="btn btn-small btn-dark-solid  "> Continue Reading</a>
                                </div>
                            </div>