#tb-preloader {
	position:relative;
}
.navbar-brand{
	display: none;
}
#block-massivet-mainnavigation-menu{
	display: none;
}
.menu.nav.navbar-nav li a.is-active {
	color: #d6b161;
}
.region-copyright h2{
	display: none;
}
span.copy {
    color: #fff;
}

span.copy:hover {
   color: #d6b161;
}
h2.block-title {
    display: none;
}
h1.text-uppercase.b-lg-txt.ls-20 a {
    color: #fff;
    font-weight: 100;
    font-style: normal;
}

.bg img{
	background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    margin: 3px auto 0;
    position: relative;
}

.banner {
    height: auto;
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
   } 

 h3.text-uppercase span {
    letter-spacing: 2px;
    color: #fff;
}  
.breadcrumb li.active{
	color: #fff;
}


.heading-title.text-center {
    padding: 100px 0px;
}
.heading-title {
    margin-bottom: 45px;
}

.view-other-service.view-id-other_service.view-display-id-block_1{

	   /* background-image: url(http://localhost/massive/img/parallax/5.jpg) !important;
	    padding: 245px 0px;*/
}
/*.parallax-5{
	background-image: url(http://localhost/massive/img/parallax/5.jpg) !important;

}*/

.view-id-other_service.view-display-id-block_1
.heading-title.text-center {
    padding: 0px;
    margin-top: -130px;
}
.view-id-other_service.view-display-id-block_1
.featured-item.text-center{
	 text-align: -webkit-center;

}

.block-webform.block-webform-block.clearfix 
input#edit-name {
    
    height: 40px;
    border: 1px solid #e5e5e5;
    outline: none;
    padding-left: 20px;
    line-height: 58px;
    margin-bottom: 20px;
    border-radius: 0px;
    width: 49%;
 }

.block-webform.block-webform-block.clearfix 
input#edit-email-id{
    
    height: 40px;
    border: 1px solid #e5e5e5;
    outline: none;
    padding-left: 20px;
    line-height: 58px;
    margin-bottom: 20px;
    border-radius: 0px;
    width: 49%;
}
.block-webform.block-webform-block.clearfix 
input#edit-subject1{
    height: 40px;
    border: 1px solid #e5e5e5;
    outline: none;
    padding-left: 20px;
    line-height: 58px;
    margin-bottom: 20px;
    border-radius: 0px;
    width: 49%;
}
.block-webform.block-webform-block.clearfix 
textarea#edit-message{
    resize: none;
    width: 49%;
    float: right;
    margin-top: -178px;
    height: 100px;
    border: 1px solid #e5e5e5;
    outline: none;
    padding-left: 20px;
    
}    

.block-webform.block-webform-block.clearfix 
.edit-actions-submit{
    display: inline-block;
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: normal;
    width: 49%;
    float: right;
    margin-right: -1px;
    margin-top: -59px;
    color: #fff;
    background: #222;

}

.block-webform.block-webform-block.clearfix 
.edit-actions-submit:hover{
    background-color: #fff;
    border-color: #0ebfe5;
    color: #0ebfe5;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    }                               
form .panel-pane.pane-block.pane-webform-client-block-91  {
    padding-bottom: 70px;
}
.panel-pane.pane-block.pane-webform-client-block-91 h2{
    color: #23282A;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
    margin-bottom: 35px;

}
     
 button#edit-actions-submit {
    width: 49%;
    padding: 8.5px 0px;
    float: right;
    margin-top: -59px;
    margin-right: -1px;
    color: #fff;
    background: #222;
}    
.panel-pane.pane-block.pane-webform-client-block-91  {
    margin-top: 50px;
}

@media screen and (max-width: 789px) and (min-width: 120px) {
 .block-webform.block-webform-block.clearfix 
   input#edit-name {
    border-radius: 0px;
    width: 100%;
 }
.block-webform.block-webform-block.clearfix 
input#edit-email-id{
    border-radius: 0px;
    width: 100%;
}
.block-webform.block-webform-block.clearfix 
input#edit-subject1{
    border-radius: 0px;
    width: 100%;
}
.block-webform.block-webform-block.clearfix 
textarea#edit-message{
    border-radius: 0px;
    resize: none;
    width: 100%;
    float: right;
    margin-top: 0px;
}
.block-webform.block-webform-block.clearfix 
button#edit-actions-submit {
    
    margin-top: 19px;
    float: right;
    margin-bottom: 33px;
    width: 100%;
    color: #fff;
    background: #222;
}
}
section.views-element-container.contextual-region.block.block-views.block-views-blockspecial-service-block-1.clearfix {
    padding: 0px;
}

.sp{

	margin-top: -40px;
}
.block-webform.block-webform-block.clearfix  {
    max-width: 900px;
    margin-left: 100px;
}


.region.region-sidebar-second {
    padding: 100px 0px;
}

.widget-latest-post .w-desk a{
	font-size: 11px;
}
.widget {
   margin-bottom: 27px;
}

h6.text-uppercase {
    font-weight: 600;
}
section#block-addtoanybuttons {
    margin-bottom: 50px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 15px;
    background: rgba(0, 0, 0, .5);
    float: right;
    margin-top: -60px;
}

.region.region-content h1 {
    display: none;
}
ul.menu.nav.navbar-nav li a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    outline: 0;
    font-size: 13px;
    font-weight: normal;
    -webkit-tap-highlight-color: transparent;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
    background: none;
   
}

.l-navbar.l-navbar_expand.l-navbar_t-light.js-navbar-sticky {
    width: 1300px;
    position: relative;
    top: -9px;
    z-index: 10000;
}
nav#block-massivet-mainnavigation {
    margin-bottom: 40px !important;
}
section.views-element-container.contextual-region.block.block-views.block-views-blockblogs-block-1.clearfix {
    padding: 0px !important;
}
ul.menu.nav.navbar-nav li a:hover {
    color: #d6b161 !important;
}
ul.menu.nav.navbar-nav li a:focus{
	color: #d6b161 !important;
}
ul.menu.nav.navbar-nav li a:active{
	color: #d6b161 !important;
}


@media screen and (max-width: 800px) and (min-width: 120px) {
 .blog-classic .date{
 	display: none;
 }
}

@media screen and (max-width: 800px) and (min-width: 120px) {
.region.region-sidebar-second {
    padding: 0px; 
    margin-top: -80px;
}
}

@media (min-width: 16.5em){
.toolbar .toolbar-bar .toolbar-tab, .toolbar .toolbar-tray-horizontal li {
    float: none;
}
}

main, menu, nav {
    display: block;
}

.l-navbar.l-navbar_expand.l-navbar_t-light.js-navbar-sticky {
    width: 100%;
    position: relative;
    top: 0px; 
   
}
/*h3.text-uppercase {
    color: #fff;
}*/
.breadcrumb>li{
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
     -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
}
/*section.views-element-container.contextual-region.block.block-views.block-views-blockteam--block-1.clearfix h3 {
    color: #333;
    font-weight: normal;
    line-height: 1.5;
}

section.views-element-container.contextual-region.block.block-views.block-views-blockother-service-block-1.clearfix {
    padding: 100px 0px;
}*/

section .highlighted {
    padding: 50px 0px;
}

section.views-element-container.contextual-region.block.block-views.block-views-blockcontact-block-1.clearfix {
    padding: 50px 0px;
}

.views-element-container.contextual-region.block.block-views.block-views-blockcontact-block-1.clearfix
.page-content {
    display: inline-block;
    width: 100%;
    padding: 50px 0;
}

.page-content {
    display: inline-block;
    width: 100%;
    padding: 50px 0px;
}

.region.region-highlighted {
    padding: 10px 0px;
}

.heading-title.text-center {
    padding: 0px; 
}
/*.view-header 
.post-sub-title.text-uppercase {
    min-width: 618px;
    float: right;
}*/

section.views-element-container.contextual-region.block.block-views.block-views-blockspecial-service-block-1.clearfix {
    /* padding: 100px 0px; */
    margin-top: 40px;
}

section.views-element-container.block.block-views.block-views-blockservice-block-1.clearfix {
    margin-top: 45px;
}

.view-service.view-id-service.view-display-id-block_1
.heading-title {
    margin-bottom: 82px;
}
.view.view-special-service.view-id-special_service.view-display-id-block_1 {
    margin-top: 60px;
}

.view.view-blogs.view-id-blogs.view-display-id-block_1 {
    margin-top: 64px;
}

/*button#edit-actions-submit {
    float: right;
    width: 49%;
    margin-top: -62px;
    margin-right: -2px;
    padding: 10px;
}
*/



@media screen and (max-width: 789px) and (min-width: 120px) {
 .region.region-highlighted {
     padding:  0px; 
}
 }

 .layout-region.layout-region--fullwidth
 .contextual-region.view-other-service.view-id-other_service {
    padding: 0px;
}


section.views-element-container.contextual-region.block.block-views.block-views-blockteam--block-1.clearfix {
    padding: 80px 0px;
}


@media screen and (max-width: 789px) and (min-width: 120px) {
  .layout-region.layout-region--fullwidth
 .contextual-region.view-other-service.view-id-other_service {
    padding: 50px 0px;
}


section.views-element-container.contextual-region.block.block-views.block-views-blockteam--block-1.clearfix {
    padding: 50px 0px;
}

.view-id-other_service.view-display-id-block_1 .heading-title.text-center {
    padding: 0px;
    margin-top:0px; 
}
 }


	.region.region-slider .home-slideshow {
		width: 100%;
		float: left;
	}

	.region.region-slider .views-slideshow-cycle-main-frame {
		width: 100% !important;
		height: auto;
	}

	.region.region-slider .views-slideshow-cycle-main-frame-row {
		width: 100% !important;
		height: auto;
	}

	.region.region-slider .field-slideshow,
	.region.region-slider .field-slideshow-slide {
		max-width: 100%;
		width: 100%;
	}

	.region.region-slider .field-slideshow img {
		max-width: 100%;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
	}

/*section.views-element-container.contextual-region.block.block-views.block-views-blockother-service-block-1.clearfix {
    margin-top: 150px;
}*/


.light-txt {
    color: #333 !important;
}

.block-views.block-views-blockother-service-block-1
.view-id-other_service.view-display-id-block_1 .heading-title.text-center {
    padding: 0px;
    margin-top: 0px; 
}

.block-views.block-views-blockspecial-service-block-1
h3.text-uppercase.light-txt {
    color: #d6b161 !important;
    font-size: 15px;
    margin-bottom: -55px;
    margin-left: 49px;
}

.block-region-bottom .views-element-container.contextual-region.block.block-views.block-views-blockother-service-block-1.clearfix {
    padding: 50px 0px;
}

.layout--twocol {
    padding: 50px 0px;
}

.blog-classic .date {
    
    height: 50px;
    font-weight: 900;
}
 