
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}



     <div class="post-list">
                            <div class="col-md-4">
                                <div class="post-single">
                                    <!--<ul class="post-cat">-->
                                    <!--<li><a href="#">interface</a></li>-->
                                    <!--<li><a href="#">standard</a></li>-->
                                    <!--</ul>-->
                                    <div class="post-img">
                                       {{ fields.field_picture.content }} 
                                    </div>
                                    <div class="post-desk">
                                        <h4 class="text-uppercase">
                                            <a href="#">{{ fields.title.content }}</a>
                                        </h4>
                                        <div class="date">
                                            <a href="#">{{ fields.name.content }}</a> 
                                            <span class="author">{{ fields.field_date.content }} </span>
                                        </div>
                                        <p>
                                            {{ fields.body.content }}
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        
                          
                        </div>