
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}


 	<div class="progress massive-progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            {{ fields.field_html_css_jquery.label }}  <span>80%</span>
            
        </div>
    </div>
    <!-- progress bar end -->

    <!-- progress bar start -->
    <div class="progress massive-progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              {{ fields.field_photoshop.label }} <span>90%</span>
        </div>
    </div>
    <!-- progress bar end -->

    <!-- progress bar start -->
    <div class="progress massive-progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              {{ fields.field_graphic_design.label }} <span>75% </span>
        </div>
    </div>
    <!-- progress bar end -->

    <!-- progress bar start -->
    <div class="progress massive-progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
           {{ fields.field_php_wordpress.label }} <span>65% </span>
        </div>
    </div>