

    <!--  preloader start -->
    <div id="tb-preloader">
        <div class="tb-preloader-wave"></div>
    </div>
    <!-- preloader end -->


    <div class="wrapper">

        <!--header start-->
        <header class="l-header">

            <div class="l-navbar l-navbar_expand l-navbar_t-light js-navbar-sticky">
                <div class="container-fluid">
                    <nav class="menuzord js-primary-navigation" role="navigation" aria-label="Primary Navigation">

                        <!--logo start-->
                        
                            {{ page.header }}

                        <!--logo end-->

                        <!--mega menu start-->
                        <ul class="menuzord-menu menuzord-right c-nav_s-standard">
                            
                            {{ page.main_menu }}

                        </ul>
                        <!--mega menu end-->

                    </nav>
                </div>
            </div>

        </header>
        <!--header end-->

        <!--hero section-->
        <!-- <div id="fullscreen-banner" class="full-banner text-center vertical-align banner-09"> -->
        
            {{ page.slider }}

        <!-- </div>
   -->      <!--hero section-->

        <!--body content start-->
        <section class="body-content">

            <!--feature-->
            <div class="page-content">
                <div class="container">
                    <!--feature border box start-->
                    <div class="row">
                     
                        {{ page.serve }}

                     </div>   

                </div>
            </div>
            <!--feature-->

            <!--about us-->
            <div class="page-content gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="">
                              
                                <p class="m-bot-0">
                                    
                                    {{ page.who_we_are }}

                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            

                            <div class="p-top-0">

                                <!-- progress bar start -->
                                
                                    {{ page.massive_skills }}

                                <!-- progress bar end -->

                            </div>


                        </div>
                    </div>

                </div>
            </div>

            <!--about us-->

            <!--blog post-->
            <div class="page-content">
                <div class="container">
                    <div class="row">

                            {{ page.blog }}
                        
                        <!--post style 2 end-->
                    </div>
                </div>
            </div>
            <!--blog post-->         

        </section>
        <!--body content end-->

        <!--footer 1 start -->
        <footer id="footer" class="dark">
            <div class="primary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            
                        {{ page.footer1 }}

                        </div>
                        <div class="col-md-3">
                            
                            {{ page.footer2 }}

                        </div>
                        <div class="col-md-3">
                            
                            {{ page.footer3 }}

                        </div>
                        <div class="col-md-3">
                            <ul class="r-work">
                           
                                {{ page.footer4 }}

                             </ul>   

                        </div>
                    </div>
                </div>
            </div>

            <div class="secondary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                        
                           {{ page.copyright}}
                        
                        </div>
                        <div class="col-md-6">
                            <div class="social-link circle pull-right">
                                
                                <!-- socai icon
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>



                                 -->

                                 {% if facebook|render is not empty %}
                                   <a href="{{ facebook }}" class="fa fa-facebook" title='fb'></a>
                                 {% endif %}
                                  
                                  {% if twitter|render is not empty %}
                                    <a href="{{ twitter }}" class="fa fa-twitter" title='twit' ></a>
                                  {% endif %}  

                                  {% if dribbble|render is not empty %}
                                    <a href="{{ dribbble }}"><i class="fa fa-dribbble" title="dribbble"></i></a>
                                  {% endif %} 

                                  {% if google|render is not empty %}
                                    <a href="{{ google }}"><i class="fa fa-google-plus" title="google+"></i></a>
                                  {% endif %} 
                                   

                                  {% if behance|render is not empty %}
                                    <a href="{{ behance }}"><i class="fa fa-behance" title="behance"></i></a>
                                  {% endif %}  

                                  
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer 1 end-->
    </div>


