

    <!--  preloader start -->
    <div id="tb-preloader">
        <div class="tb-preloader-wave"></div>
    </div>
    <!-- preloader end -->


    <div class="wrapper">

        <!--header start-->
        <header class="l-header">

            <div class="l-navbar l-navbar_expand l-navbar_t-light js-navbar-sticky">
                <div class="container-fluid">
                    <nav class="menuzord js-primary-navigation" role="navigation" aria-label="Primary Navigation">

                        <!--logo start-->
                        
                            {{ page.header }}

                        <!--logo end-->

                        <!--mega menu start-->
                        <ul class="menuzord-menu menuzord-right c-nav_s-standard">
                            
                            {{ page.main_menu }}

                        </ul>
                        <!--mega menu end-->

                    </nav>
                </div>
            </div>

        </header>
    


        <!-- <div style="background:url(http://localhost/massive/img/banner/22.jp);">
         -->
        <div class="banner" style="background:url(http://localhost/massive/img/banner/22.jpg);">

            <div class="container">
                <div class="row">
                    
                        <h3 class="text-uppercase">{{ page['#title'] }} </h3>
                       
                          
                            {{ page.breadcrumb }}

                           

                        
                    
                </div>
            </div>
        </div>  


    <div class="container">
                
        <!--          {{ page.content }}
     -->
     {# Main #}
{% block main %}
  <div role="main" class="main-container {{ container }} js-quickedit-main-content">
    <div class="row">

      {# Header #}
      {% if page.header %}
        {% block header %}
          <div class="col-sm-12" role="heading">
            <!-- {{ page.header }} -->
          </div>
        {% endblock %}
      {% endif %}

      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    <footer class="footer {{ container }}" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endblock %}
{% endif %}


             </div>   

   

        <!--footer 1 start -->
        <footer id="footer" class="dark">
            <div class="primary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            
                        {{ page.footer1 }}

                        </div>
                        <div class="col-md-3">
                            
                            {{ page.footer2 }}

                        </div>
                        <div class="col-md-3">
                            
                            {{ page.footer3 }}

                        </div>
                        <div class="col-md-3">
                            <ul class="r-work">
                           
                                {{ page.footer4 }}

                             </ul>   

                        </div>
                    </div>
                </div>
            </div>

            <div class="secondary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                        
                           {{ page.copyright}}
                        
                        </div>
                        <div class="col-md-6">
                            <div class="social-link circle pull-right">
                                
                                <!-- socai icon
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>



                                 -->

                                 {% if facebook|render is not empty %}
                                   <a href="{{ facebook }}" class="fa fa-facebook" title='fb'></a>
                                 {% endif %}
                                  
                                  {% if twitter|render is not empty %}
                                    <a href="{{ twitter }}" class="fa fa-twitter" title='twit' ></a>
                                  {% endif %}  

                                  {% if dribbble|render is not empty %}
                                    <a href="{{ dribbble }}"><i class="fa fa-dribbble" title="dribbble"></i></a>
                                  {% endif %} 

                                  {% if google|render is not empty %}
                                    <a href="{{ google }}"><i class="fa fa-google-plus" title="google+"></i></a>
                                  {% endif %} 
                                   

                                  {% if behance|render is not empty %}
                                    <a href="{{ behance }}"><i class="fa fa-behance" title="behance"></i></a>
                                  {% endif %}  

                                  
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer 1 end-->
    </div>

